.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__group
        = @group.name
      .chat-main__group-info__left__member
        - @group.group_users.each do |group_user|
          %span.member
          = group_user.user.name
    .chat-main__group-info__right
      .chat-main__group-info__right__edit
        =link_to edit_group_path(@group) , class: "edit" do
          Edit
  .chat-main__message-list
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: "form__text", placeholder:"type a message"
        = f.label :image, class: "form__box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "form__box__file"
        .form__box__send
          = f.submit 'Send',  class: "form__send__submit"
  